@charset "UTF-8";
/***** H1 TITLE *****/
/*==== H2 Title ====*/
/*---- H3 Title ----*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Source+Sans+Pro:400,600,900");
/***** BASE *****/
/*==== Variables ====*/
/*---- Swatches ----*/
/*---- Gradients ----*/
/*---- Fonts ----*/
/*---- Measures ----*/
/*==== Mixins ====*/
/***** GENERAL *****/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  transition: all .25s ease-in-out; }
  *::selection {
    background: rgba(56, 182, 227, 0.5); }

html {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 20px; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

img {
  width: 100%;
  display: block; }

/*

h1
    with background
h2
    with background

label

in

article
    h2
    h3
    p
    a
    blockquote

*/
h1,
h2 {
  font-weight: 900;
  color: #0b1728;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1em;
  margin-top: .12em; }
  h1 span,
  h2 span {
    display: inline;
    background: #fff;
    box-shadow: 10px 0 0 #fff, -10px 0 0 #fff; }

h2 {
  margin-top: .4em;
  font-size: 1.78rem; }

label {
  margin-bottom: .2rem;
  display: block; }

.in {
  width: 100%;
  display: block;
  border-radius: 2px;
  padding: .5rem;
  height: 48px;
  border: 1px solid #ddd;
  margin-bottom: 1rem; }

article {
  font-family: "Lora", serif;
  padding: 2.4rem 0; }
  article h2,
  article h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    text-transform: none;
    margin: 2.4rem 0 .7rem 0;
    color: #214478;
    line-height: 1em; }
  article h3 {
    text-transform: uppercase;
    font-size: 1.2rem; }
  article p,
  article blockquote {
    line-height: 1.4em;
    margin-bottom: 1.4rem; }
  article a {
    color: #214478;
    position: relative;
    box-shadow: 0 1px 0 #214478;
    transition: all 0s; }
    article a:hover {
      color: #8446c8;
      box-shadow: 0 2px 0 #8446c8; }
    article a:visited {
      box-shadow: 0 0 0 #fff; }
  article blockquote {
    font-style: italic;
    padding: 0 1rem;
    border-left: 4px solid #214478; }
  article ol,
  article ul {
    margin-bottom: 1.4rem;
    padding-left: 1rem; }

@media screen and (min-width: 640px) {
  h1 {
    font-size: 3.3rem; }

  article blockquote {
    padding: 1rem;
    background: #f2f2f2;
    margin: 0 5% 1.4rem 5%; } }
/***** ELEMENTS *****/
/*

.no-trans (no transition)

.label (categoria)
	grad1

*/
.no-trans {
  transition: all 0s; }

.label {
  display: inline-block;
  background: linear-gradient(to right, #8446c8, #214478);
  padding: .3rem 1rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase; }

/***** COMPONENTS *****/
/*

drawer

content

header

hero

jumbotron

card
	card-news
	card-subs

wrap

main

grid
	row
	cols-md
	cols-xs

foo

*/
.drawer {
  position: fixed;
  z-index: 88;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  display: inline-block;
  background: #0b1728;
  display: flex;
  justify-content: center;
  align-items: center; }
  .drawer ul {
    width: 100%; }
    .drawer ul li {
      list-style-type: none; }
      .drawer ul li.page-current a {
        border-left: 8px solid #8446c8; }
      .drawer ul li a {
        display: block;
        height: 60px;
        padding: .8rem 2rem;
        background: #0b1728;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .1em;
        border-left: 8px solid #0b1728; }
        .drawer ul li a:hover {
          background: linear-gradient(to right, #8446c8, #214478);
          letter-spacing: .2em;
          font-weight: 900;
          border-left: 8px solid #8446c8; }

.content {
  position: relative;
  width: 100%;
  left: 0; }

header {
  height: 48px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 77;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex; }
  header .logo-squared {
    height: 48px; }
  header .nav-desktop {
    display: none; }
  header .search {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 48px; }
    header .search .in {
      background: #f2f2f2;
      border: 0;
      display: inline-block;
      padding-right: 40px; }
    header .search .icon-search {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 1.1rem; }
  header .nav-trigger {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s ease-in-out; }
    header .nav-trigger:hover {
      background: #f2f2f2; }
    header .nav-trigger span {
      display: block;
      position: absolute;
      height: 3px;
      border-radius: 1.5px;
      width: 50%;
      background: #333;
      opacity: 1;
      left: 25%;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }
      header .nav-trigger span:nth-child(1) {
        top: 14px; }
      header .nav-trigger span:nth-child(2) {
        top: 22px; }
      header .nav-trigger span:nth-child(3) {
        top: 30px; }
    header .nav-trigger.open span:nth-child(1) {
      top: 22px;
      transform: rotate(135deg); }
    header .nav-trigger.open span:nth-child(2) {
      opacity: 0;
      left: -60px; }
    header .nav-trigger.open span:nth-child(3) {
      top: 22px;
      transform: rotate(-135deg); }

.hero {
  background: url(../img/hero-bg.png) center;
  background-size: cover;
  height: 90vh;
  min-height: 480px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .hero .wrap {
    margin: 0; }

.jumbotron {
  overflow: hidden;
  padding: 4rem 2rem; }
  .jumbotron .label {
    margin-bottom: .5rem;
    position: relative;
    left: -.5rem; }

.card {
  background: #fff;
  overflow: hidden;
  height: 240px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3); }

.card-news {
  display: flex;
  position: relative; }
  .card-news:not(:only-child) {
    margin-bottom: 1rem; }
    .card-news:not(:only-child):last-child {
      margin-bottom: 0; }
  .card-news .card-info {
    width: 60%;
    z-index: 2;
    position: relative; }
    .card-news .card-info h2 {
      position: relative;
      left: 1rem; }
      .card-news .card-info h2:hover {
        color: #214478; }
    .card-news .card-info a.read-more {
      position: absolute;
      bottom: 1rem;
      left: 1rem; }
      .card-news .card-info a.read-more::after {
        content: ' ';
        height: 2px;
        width: 40%;
        background: linear-gradient(to right, #8446c8, #214478);
        position: absolute;
        left: 0;
        bottom: -2px; }
      .card-news .card-info a.read-more:hover::after {
        transition: all .25s ease-in-out;
        width: 100%; }
  .card-news .card-img {
    background: url(../img/hero-bg.png) center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    width: 40%; }

.card-subs {
  height: 500px; }
  .card-subs .card-img {
    background: url(../img/hero-bg.png) center;
    background-size: cover;
    height: 280px;
    padding: 2rem;
    display: flex;
    align-items: flex-end; }
  .card-subs .card-info {
    padding: 1.5rem 2rem; }
    .card-subs .card-info .btn {
      margin: auto; }

.wrap {
  width: 90%;
  margin: auto;
  position: relative;
  max-width: 900px; }

.main {
  background: #f2f2f2;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  padding: 2rem 0; }

.row {
  display: flex;
  flex-wrap: wrap; }

[class^="col-"] {
  width: 100%;
  padding: .5rem; }

.col-xs-1 {
  width: 8.3333%; }

.col-xs-2 {
  width: 16.6666%; }

.col-xs-3 {
  width: 24.9999%; }

.col-xs-4 {
  width: 33.3332%; }

.col-xs-5 {
  width: 41.6665%; }

.col-xs-6 {
  width: 49.9998%; }

.col-xs-7 {
  width: 58.3331%; }

.col-xs-8 {
  width: 66.6664%; }

.col-xs-9 {
  width: 74.9997%; }

.col-xs-10 {
  width: 83.333%; }

.col-xs-11 {
  width: 91.6663%; }

footer {
  background: #f2f2f2;
  border-top: 1px solid #ddd; }
  footer .foo-info {
    display: flex;
    flex-wrap: wrap; }
    footer .foo-info > div {
      width: 50%; }
    footer .foo-info h2 {
      font-size: 1rem;
      text-transform: none;
      font-weight: 700;
      margin: 2rem 0 1rem 0; }
    footer .foo-info a:hover {
      text-decoration: underline; }
    footer .foo-info ul li {
      list-style-type: none; }
    footer .foo-info .credits {
      margin-top: 1rem;
      padding: 1rem 0;
      border-top: 1px solid #333;
      font-size: .8rem;
      width: 100%; }
  footer .logo-foo {
    width: 200px;
    margin: auto;
    margin-top: -30px; }
    footer .logo-foo .logo {
      width: 100%;
      opacity: .4; }

@media screen and (min-width: 640px) {
  .drawer ul li a {
    padding: .8rem 5rem; }

  footer .foo-info {
    display: flex;
    flex-wrap: wrap; }
    footer .foo-info > div {
      width: 100%; }
      footer .foo-info > div:nth-child(2) h2 {
        margin-top: 1rem; }
    footer .foo-info h2 {
      margin-bottom: .5rem; }
    footer .foo-info ul li {
      display: inline-block;
      margin-right: 1rem; }
    footer .foo-info .credits {
      font-size: 1rem; } }
@media screen and (min-width: 840px) {
  header {
    position: absolute;
    background: linear-gradient(#fff 0%, #fff 20%, #eee 70%, #ddd 100%);
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    overflow: hidden;
    width: 766.06px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05), 0px -8px 10px rgba(0, 0, 0, 0.05), -10px -8px 10px rgba(0, 0, 0, 0.05), 10px -8px 10px rgba(0, 0, 0, 0.05), -10px 8px 10px rgba(0, 0, 0, 0.05), 10px 8px 10px rgba(0, 0, 0, 0.05); }
    header .nav-desktop {
      display: inline-block; }
      header .nav-desktop ul {
        display: flex;
        padding: 0 1rem; }
        header .nav-desktop ul li {
          list-style-type: none; }
          header .nav-desktop ul li.page-current a {
            color: #214478;
            font-weight: 600;
            border-bottom: 4px solid #214478; }
          header .nav-desktop ul li a {
            display: block;
            padding: .47rem 1rem;
            border-bottom: 4px solid #ddd; }
            header .nav-desktop ul li a:hover {
              color: #214478; }
    header .search {
      right: 0; }
      header .search .in {
        background: #eee; }
    header .nav-trigger {
      display: none; }

  .col-md-1 {
    width: 8.3333%; }

  .col-md-2 {
    width: 16.6666%; }

  .col-md-3 {
    width: 24.9999%; }

  .col-md-4 {
    width: 33.3332%; }

  .col-md-5 {
    width: 41.6665%; }

  .col-md-6 {
    width: 49.9998%; }

  .col-md-7 {
    width: 58.3331%; }

  .col-md-8 {
    width: 66.6664%; }

  .col-md-9 {
    width: 74.9997%; }

  .col-md-10 {
    width: 83.333%; }

  .col-md-11 {
    width: 91.6663%; }

  footer {
    padding: 2rem 0 4rem 0; }
    footer .wrap {
      max-width: 1100px; }
      footer .wrap .foo-logo {
        padding-top: 4rem; }
        footer .wrap .foo-logo .logo-foo {
          width: 85%;
          max-width: 300px; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?l6nrjz");
  src: url("../fonts/icomoon.eot?l6nrjz#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?l6nrjz") format("truetype"), url("../fonts/icomoon.woff?l6nrjz") format("woff");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-left:before {
  content: "\e900"; }

.icon-chevron-right:before {
  content: "\e901"; }

.icon-smile:before {
  content: "\e902"; }

.icon-mail:before {
  content: "\e903"; }

.icon-location:before {
  content: "\e904"; }

.icon-search:before {
  content: "\e905"; }

/***** BUTTONS *****/
/*
barebones
	filled
		grad1
	phantom
		grad1
		white
*/
.btn {
  text-transform: uppercase;
  font-weight: 900;
  border: 0;
  height: 48px;
  text-align: center;
  padding: 0 2rem;
  border-radius: 2px;
  display: block; }

.btn-fi {
  color: #fff;
  background: linear-gradient(to right, #8446c8, #214478); }
  .btn-fi:hover {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1), -10px 8px 10px rgba(0, 0, 0, 0.1), 10px 8px 10px rgba(0, 0, 0, 0.1); }

.btn-ph-grad1 {
  background: transparent;
  border: 1px solid #8446c8;
  color: #8446c8; }
  .btn-ph-grad1:hover {
    color: #fff;
    background: linear-gradient(to right, #8446c8, #214478);
    border: 0px; }

.btn-ph-white {
  background: transparent;
  border: 1px solid #fff;
  color: #fff; }
  .btn-ph-white:hover {
    color: #333;
    background: #fff;
    border: 0px; }

/*
------------------------------------------------------
-----------------------Swiper-------------------------
------------------------------------------------------
 */
.swiper-container {
  width: 100%;
  position: relative;
  height: 90vh;
  min-height: 480px; }

.swipper-wrapper {
  margin: 0; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .swiper-slide h1 {
    z-index: 4;
    position: absolute;
    left: 10px;
    bottom: 50px; }
  .swiper-slide img {
    width: 100%; }

.map {
  position: relative;
  height: 90vh;
  min-height: 480px; }
  .map h1 {
    position: absolute;
    top: 250px;
    left: 50px; }

/**
 * Swiper 3.4.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: October 16, 2016
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform,height; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-cube, .swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }
/*Contacto*/
.FlexBox {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  flex-wrap: wrap; }

.info-contact {
  width: 60%;
  min-width: 415px; }
  .info-contact span {
    font-size: 18px;
    text-align: center;
    margin-top: 15px; }

/*Hago este scss porqué no sé muy bien dónde colocar cada cosa

Prefiero mandarte los estilos y después tú los colocas en donde deben estar
*/
footer {
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  footer .footer-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    footer .footer-description h2 {
      font-size: 1rem; }
    footer .footer-description p {
      margin: 10px 0; }
      footer .footer-description p a {
        margin-right: 10px; }
    footer .footer-description .credits {
      font-size: .7rem; }

.flex-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .flex-box section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .flex-box article {
    background: url("../img/hero-bg.png");
    width: 100%; }

/*Forms Styles*/
form input[type="text"],
form input[type="email"],
form textarea {
  margin-bottom: 20px;
  width: 100%; }
form textarea {
  resize: none;
  overflow: scroll; }
form input[type="submit"] {
  margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
