/***** BASE *****/

/*==== Variables ====*/

/*---- Swatches ----*/
$text_c: ;

/*---- Fonts ----*/
$text: ;


/*==== Mixins ====*/

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}


