/*Contacto*/
.FlexBox{
	display: flex;
	justify-content: space-around;
	padding: 50px 0;
	flex-wrap: wrap;
}

.contact-form{
	input{
		width: 100%;
	}

	textarea{
		resize: none;
		overflow: scroll;
	}
}

.info-contact{
	width: 40%;
	min-width: 415px;

	p{
		padding: 25px;
	}

	span{
		margin-right: 10px;
		font-size: 16px;
	}
}