/*Contacto*/
.FlexBox{
	display: flex;
	justify-content: space-around;
	padding: 50px 0;
	flex-wrap: wrap;
}

.info-contact{
	width: 60%;
	min-width: 415px;
	//margin-left: 10px;

	p{
		//padding: 25px;
	}

	span{
		font-size: 18px;
		text-align: center;
		margin-top: 15px;
	}
}