/***** BUTTONS *****/

/*
barebones
	filled
		grad1
	phantom
		grad1
		white
*/

.btn {
	text-transform: uppercase;
	font-weight: 900;
	border: 0;
	height: 48px;
	text-align: center;
	padding: 0 2rem;
	border-radius: 2px;
	display: block;
	line-height: 1;
	a {
		display: block;
		padding: .65rem 2rem;
		margin: 0 -2rem;
		transition: all 0s;
	}
}

.btn-fi {
	color: #fff;
	background: $grad1;
	&:hover {
		box-shadow: 0px 8px 10px rgba(#000,.1), // bottom
                   -10px 8px 10px rgba(#000,.1), // left
                    10px 8px 10px rgba(#000,.1); // right
	}
}

@mixin btn-ph($bg,$border,$hover_color) {
	background: transparent;
	border: 1px solid $border;
	color: $border;
	&:hover {
		color: $hover_color;
		background: $bg;
		border: 0px;
	}
}

.btn-ph-grad1 {
	@include btn-ph($grad1,$accent1,#fff);
}

.btn-ph-white {
	@include btn-ph(#fff,#fff,$text_c)
}