/*Hago este scss porqué no sé muy bien dónde colocar cada cosa

Prefiero mandarte los estilos y después tú los colocas en donde deben estar
*/

footer{
	border: 3px solid $solid2;
	padding: 10px;
	display: flex;
	justify-content: space-between;

	.footer-description{
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h2{
			font-size: 1rem;
		}

		p{
			margin: 10px 0;
			a{
				margin-right: 10px; 
			}
		}
		
		.credits{
			font-size: .7rem;
		}
	}
}