/***** BASE *****/

/*==== Variables ====*/

/*---- Swatches ----*/
$accent1: #8446c8;
$accent2: #38b6e3;
$solid1: #214478;
$solid2: #0b1728;
$text_c: #333;
$subtle: #f2f2f2;
$ok1: #2e9e46;
$ok2: #f7fdf8;
$err1: #ca4848;
$err2: #fdf7f7;

/*---- Gradients ----*/
$grad1: linear-gradient(to right, $accent1,$solid1);
$grad2: linear-gradient($solid1, $solid2);
$grad3: linear-gradient(#fff 0%,  #fff 20%, #eee 70%, #ddd 100%);

/*---- Fonts ----*/
$text: 'Source Sans Pro', sans-serif;
$text_article: 'Lora', serif;

/*---- Measures ----*/
$vu: 60px;


/*==== Mixins ====*/

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}


